/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  width: 100%;
  height: 100%;
}
.content{
  width: 100%;
  height: 100%;
}

/* stage-start  */
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}
/* stage-end  */


/* img-start */
.img-sec{
  position: relative;
  background: #ddd;
}
/*  img-end */


/* controller-start*/
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
}
/* controller-end*/

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
